Repository RicardoPaulino/node-clean-arch: changes, and which lint-staged commands are due for each by the changed paths.
All: standard --fix, prettier --write

created login.js
  login.js
Due: standard --fix

ensure LoginRouter returns 400 fi no email is provided
  .gitignore
  .husky/pre-commit
  .husky/src/presentation/routers/login-router.spec.js
  .huskyrc.json
  .lintstagedrc.json
  jest.config.js
  jest.config.ts
  login.js
Due: standard --fix, prettier --write

test password not provided
  .husky/pre-commit
  .husky/src/presentation/routers/login-router.spec.js
  src/presentation/routers/login-router.spec.js
Due: standard --fix

Moved file tests
  .husky/pre-commit
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/base.css
  coverage/lcov-report/block-navigation.js
  coverage/lcov-report/favicon.png
  coverage/lcov-report/index.html
  coverage/lcov-report/prettify.css
  coverage/lcov-report/prettify.js
  coverage/lcov-report/sort-arrow-sprite.png
  coverage/lcov-report/sorter.js
  coverage/lcov.info
  jest.config.js
  login.js
  package.json
  src/presentation/helpers/http-responses.js
  src/presentation/helpers/missing-param-error.js
  src/presentation/routers/login-router.js
  src/presentation/routers/login-router.spec.js
Due: standard --fix, prettier --write

create factory method
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
  coverage/lcov.info
  src/presentation/routers/login-router.spec.js
Due: standard --fix, prettier --write

Created test authUseCaseApy
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
  coverage/lcov.info
  src/presentation/routers/login-router.js
  src/presentation/routers/login-router.spec.js
Due: standard --fix, prettier --write

Created test 401 when invalid credentials are provided
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
  coverage/lcov.info
  src/presentation/routers/login-router.js
  src/presentation/routers/login-router.spec.js
Due: standard --fix, prettier --write

change husky
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
  coverage/lcov.info
  src/presentation/helpers/http-responses.js
  src/presentation/routers/login-router.js
Due: standard --fix, prettier --write

added unauthprized test
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/helpers/unauthorized-error.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/login-router.js.html
  coverage/lcov.info
  src/presentation/helpers/http-responses.js
  src/presentation/helpers/unauthorized-error.js
  src/presentation/routers/login-router.spec.js
Due: standard --fix, prettier --write

Ensure login router returns 500 when authUseCase is not provided or auth method
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/helpers/unauthorized-error.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
  coverage/lcov.info
  src/presentation/routers/login-router.js
  src/presentation/routers/login-router.spec.js
Due: standard --fix, prettier --write

Ensure returns 200 when credentials are provided
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/helpers/unauthorized-error.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
  coverage/lcov.info
  src/presentation/helpers/http-responses.js
  src/presentation/routers/login-router.js
  src/presentation/routers/login-router.spec.js
Due: standard --fix, prettier --write

Ensure return 200 when accessToken is valid
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/helpers/unauthorized-error.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
  coverage/lcov.info
  src/presentation/helpers/http-responses.js
  src/presentation/routers/login-router.js
  src/presentation/routers/login-router.spec.js
Due: standard --fix, prettier --write

Refactor tests
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/helpers/server-error.js.html
  coverage/lcov-report/helpers/unauthorized-error.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/login-router.js.html
  coverage/lcov.info
  src/presentation/helpers/http-responses.js
  src/presentation/helpers/server-error.js
  src/presentation/routers/login-router.js
  src/presentation/routers/login-router.spec.js
Due: standard --fix, prettier --write

Move to async method route
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/helpers/server-error.js.html
  coverage/lcov-report/helpers/unauthorized-error.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
  src/presentation/routers/login-router.js
  src/presentation/routers/login-router.spec.js
Due: standard --fix, prettier --write

Refactored http-response file
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/helpers/server-error.js.html
  coverage/lcov-report/helpers/unauthorized-error.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
  coverage/lcov.info
  src/presentation/helpers/http-responses.js
  src/presentation/routers/login-router.js
  src/presentation/routers/login-router.spec.js
Due: standard --fix, prettier --write

Ensure returns 400 when email is invalid
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/invalid-param-error.js.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/helpers/server-error.js.html
  coverage/lcov-report/helpers/unauthorized-error.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/login-router.js.html
  coverage/lcov.info
  src/presentation/helpers/invalid-param-error.js
  src/presentation/routers/login-router.js
  src/presentation/routers/login-router.spec.js
Due: standard --fix, prettier --write

add configuration jest
  .husky/pre-commit
  .husky/pre-push
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/invalid-param-error.js.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/helpers/server-error.js.html
  coverage/lcov-report/helpers/unauthorized-error.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
  coverage/lcov.info
Due: prettier --write

modified config jest
  .husky/pre-push
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/invalid-param-error.js.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/helpers/server-error.js.html
  coverage/lcov-report/helpers/unauthorized-error.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
  coverage/lcov.info
Due: prettier --write

removed color config.
  .husky/pre-push
  coverage/clover.xml
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/invalid-param-error.js.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/helpers/server-error.js.html
  coverage/lcov-report/helpers/unauthorized-error.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
Due: none

123
  .gitignore
  coverage/clover.xml
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/invalid-param-error.js.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/helpers/server-error.js.html
  coverage/lcov-report/helpers/unauthorized-error.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
Due: none

changes
  .husky/pre-commit
  .husky/pre-push
  coverage/clover.xml
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/invalid-param-error.js.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/helpers/server-error.js.html
  coverage/lcov-report/helpers/unauthorized-error.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
Due: none

created foler errors
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/errors/index.html
  coverage/lcov-report/errors/invalid-param-error.js.html
  coverage/lcov-report/errors/missing-param-error.js.html
  coverage/lcov-report/errors/server-error.js.html
  coverage/lcov-report/errors/unauthorized-error.js.html
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/missing-param-error.js.html
  coverage/lcov-report/helpers/server-error.js.html
  coverage/lcov-report/helpers/unauthorized-error.js.html
  coverage/lcov-report/login-router.js.html
  coverage/lcov-report/routers/index.html
  coverage/lcov.info
  jest-integration-config.js
  jest-unit-config.js
  package.json
  src/presentation/errors/invalid-param-error.js
  src/presentation/errors/missing-param-error.js
  src/presentation/errors/server-error.js
  src/presentation/errors/unauthorized-error.js
  src/presentation/helpers/http-responses.js
  src/presentation/routers/login-router.js
  src/presentation/routers/login-router.spec.js
Due: standard --fix, prettier --write

refactored import erros
  coverage/clover.xml
  coverage/lcov-report/errors/index.html
  coverage/lcov-report/errors/invalid-param-error.js.html
  coverage/lcov-report/errors/missing-param-error.js.html
  coverage/lcov-report/errors/server-error.js.html
  coverage/lcov-report/errors/unauthorized-error.js.html
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
  src/presentation/errors/index.js
  src/presentation/helpers/http-responses.js
  src/presentation/routers/login-router.js
  src/presentation/routers/login-router.spec.js
Due: standard --fix

Created test to EmailValidator 1 - should return true if validator returns true.
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/errors/index.html
  coverage/lcov-report/errors/index.js.html
  coverage/lcov-report/errors/missing-param-error.js.html
  coverage/lcov-report/errors/server-error.js.html
  coverage/lcov-report/errors/unauthorized-error.js.html
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
  coverage/lcov.info
  src/utils/email-validator.spec.js
Due: standard --fix, prettier --write

Created email validator test
  .husky/pre-commit
  coverage/clover.xml
  coverage/lcov-report/errors/index.html
  coverage/lcov-report/errors/index.js.html
  coverage/lcov-report/errors/invalid-param-error.js.html
  coverage/lcov-report/errors/missing-param-error.js.html
  coverage/lcov-report/errors/server-error.js.html
  coverage/lcov-report/errors/unauthorized-error.js.html
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
  package.json
  src/utils/email-validator.spec.js
Due: standard --fix, prettier --write

Created AuthUseCase Test
  coverage/clover.xml
  coverage/lcov-report/errors/index.html
  coverage/lcov-report/errors/index.js.html
  coverage/lcov-report/errors/invalid-param-error.js.html
  coverage/lcov-report/errors/missing-param-error.js.html
  coverage/lcov-report/errors/server-error.js.html
  coverage/lcov-report/errors/unauthorized-error.js.html
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/index.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
  domain/usecases/auth-usecase.spec.js
Due: standard --fix

Should return MissingParamError if no parameters are provided
  domain/usecases/auth-usecase.spec.js
  package.json
Due: standard --fix, prettier --write

Refactored test AuthUseCase
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/errors/index.js.html
  coverage/lcov-report/errors/invalid-param-error.js.html
  coverage/lcov-report/errors/missing-param-error.js.html
  coverage/lcov-report/errors/server-error.js.html
  coverage/lcov-report/helpers/http-responses.js.html
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/src/presentation/errors/index.html
  coverage/lcov-report/src/presentation/errors/index.js.html
  coverage/lcov-report/src/presentation/errors/server-error.js.html
  coverage/lcov-report/src/presentation/errors/unauthorized-error.js.html
  coverage/lcov-report/src/presentation/helpers/http-responses.js.html
  coverage/lcov-report/src/presentation/helpers/index.html
  coverage/lcov-report/src/presentation/routers/index.html
  coverage/lcov-report/src/presentation/routers/login-router.js.html
  coverage/lcov-report/utils/erros/index.html
  coverage/lcov-report/utils/erros/invalid-param-error.js.html
  coverage/lcov-report/utils/erros/missing-param-error.js.html
  coverage/lcov.info
  domain/usecases/auth-usecase.spec.js
  src/presentation/errors/index.js
  utils/erros/invalid-param-error.js
  utils/erros/missing-param-error.js
Due: standard --fix, prettier --write

changed test auth
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/index.js.html
  coverage/lcov.info
  domain/usecases/auth-usecase.spec.js
Due: standard --fix, prettier --write

refactor: update error handling and improve code coverage
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/errors/index.html
  coverage/lcov-report/errors/index.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/missing-param-error.js.html
  coverage/lcov-report/routers/index.html
  coverage/lcov-report/routers/login-router.js.html
  coverage/lcov-report/src/presentation/errors/index.html
  coverage/lcov-report/src/presentation/errors/index.js.html
  coverage/lcov-report/src/presentation/errors/server-error.js.html
  coverage/lcov-report/src/presentation/errors/unauthorized-error.js.html
  coverage/lcov-report/src/presentation/helpers/http-responses.js.html
  coverage/lcov-report/src/presentation/helpers/index.html
  coverage/lcov-report/src/presentation/routers/index.html
  coverage/lcov-report/src/presentation/routers/login-router.js.html
  coverage/lcov-report/utils/erros/index.html
  coverage/lcov-report/utils/erros/invalid-param-error.js.html
  coverage/lcov-report/utils/erros/missing-param-error.js.html
  coverage/lcov.info
  domain/usecases/auth-usecase.spec.js
  src/presentation/errors/index.js
  src/presentation/routers/login-router.spec.js
  src/utils/email-validator.spec.js
Due: standard --fix, prettier --write

chore: update coverage report timestamps
  coverage/clover.xml
  coverage/lcov-report/index.html
  coverage/lcov-report/src/presentation/errors/index.html
  coverage/lcov-report/src/presentation/errors/index.js.html
  coverage/lcov-report/src/presentation/routers/index.html
  coverage/lcov-report/src/presentation/routers/login-router.js.html
  coverage/lcov-report/utils/erros/index.html
  coverage/lcov-report/utils/erros/missing-param-error.js.html
Due: none

coverage
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/index.html
  coverage/lcov.info
Due: prettier --write

refacore auth test
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/index.html
  coverage/lcov-report/src/presentation/errors/index.html
  coverage/lcov-report/src/presentation/errors/index.js.html
  coverage/lcov-report/src/presentation/errors/server-error.js.html
  coverage/lcov-report/src/presentation/errors/unauthorized-error.js.html
  coverage/lcov-report/src/presentation/helpers/http-responses.js.html
  coverage/lcov-report/src/presentation/helpers/index.html
  coverage/lcov-report/src/presentation/routers/index.html
  coverage/lcov-report/src/presentation/routers/login-router.js.html
  coverage/lcov-report/utils/erros/index.html
  coverage/lcov-report/utils/erros/invalid-param-error.js.html
  coverage/lcov-report/utils/erros/missing-param-error.js.html
  coverage/lcov.info
  domain/usecases/auth-usecase.spec.js
Due: standard --fix, prettier --write

refactor: update auth use case to return null for invalid user
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/index.html
  coverage/lcov-report/src/presentation/errors/index.html
  coverage/lcov-report/src/presentation/errors/index.js.html
  coverage/lcov-report/src/presentation/errors/server-error.js.html
  coverage/lcov-report/src/presentation/errors/unauthorized-error.js.html
  coverage/lcov-report/src/presentation/helpers/http-responses.js.html
  coverage/lcov-report/src/presentation/helpers/index.html
  coverage/lcov-report/src/presentation/routers/index.html
  coverage/lcov-report/src/presentation/routers/login-router.js.html
  coverage/lcov-report/utils/erros/index.html
  coverage/lcov-report/utils/erros/invalid-param-error.js.html
  coverage/lcov-report/utils/erros/missing-param-error.js.html
  coverage/lcov.info
  domain/usecases/auth-usecase.spec.js
Due: standard --fix, prettier --write

feat: implement AuthUseCase with input validation and token generation
  .gitignore
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/domain/usecases/auth-usecase.js.html
  coverage/lcov-report/domain/usecases/index.html
  coverage/lcov-report/index.html
  coverage/lcov-report/src/presentation/errors/index.html
  coverage/lcov-report/src/presentation/errors/index.js.html
  coverage/lcov-report/src/presentation/errors/server-error.js.html
  coverage/lcov-report/src/presentation/errors/unauthorized-error.js.html
  coverage/lcov-report/src/presentation/helpers/index.html
  coverage/lcov-report/src/presentation/routers/login-router.js.html
  coverage/lcov-report/utils/erros/index.html
  coverage/lcov-report/utils/erros/index.js.html
  coverage/lcov-report/utils/erros/missing-param-error.js.html
  coverage/lcov.info
  domain/usecases/auth-usecase.js
  domain/usecases/auth-usecase.spec.js
  utils/erros/index.js
Due: standard --fix, prettier --write

refactor: simplify input validation in AuthUseCase and related tests
  domain/usecases/auth-usecase.js
  domain/usecases/auth-usecase.spec.js
Due: standard --fix

refactor: update AuthUseCase to return null instead of a token and adjust tests accordingly
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/domain/usecases/auth-usecase.js.html
  coverage/lcov-report/domain/usecases/index.html
  coverage/lcov-report/index.html
  coverage/lcov-report/src/presentation/errors/index.html
  coverage/lcov-report/src/presentation/errors/index.js.html
  coverage/lcov-report/src/presentation/errors/server-error.js.html
  coverage/lcov-report/src/presentation/errors/unauthorized-error.js.html
  coverage/lcov-report/src/presentation/helpers/http-responses.js.html
  coverage/lcov-report/src/presentation/helpers/index.html
  coverage/lcov-report/src/presentation/routers/index.html
  coverage/lcov-report/src/presentation/routers/login-router.js.html
  coverage/lcov-report/utils/erros/index.html
  coverage/lcov-report/utils/erros/index.js.html
  coverage/lcov-report/utils/erros/invalid-param-error.js.html
  coverage/lcov-report/utils/erros/missing-param-error.js.html
  coverage/lcov.info
  domain/usecases/auth-usecase.js
  domain/usecases/auth-usecase.spec.js
Due: standard --fix, prettier --write

feat: enhance AuthUseCase to include password validation and token generation; update tests accordingly
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/domain/usecases/auth-usecase.js.html
  coverage/lcov-report/domain/usecases/index.html
  coverage/lcov-report/index.html
  coverage/lcov-report/src/presentation/errors/index.html
  coverage/lcov-report/src/presentation/errors/index.js.html
  coverage/lcov-report/src/presentation/errors/server-error.js.html
  coverage/lcov-report/src/presentation/errors/unauthorized-error.js.html
  coverage/lcov-report/src/presentation/helpers/http-responses.js.html
  coverage/lcov-report/src/presentation/helpers/index.html
  coverage/lcov-report/src/presentation/routers/index.html
  coverage/lcov-report/src/presentation/routers/login-router.js.html
  coverage/lcov-report/utils/erros/index.html
  coverage/lcov-report/utils/erros/index.js.html
  coverage/lcov-report/utils/erros/invalid-param-error.js.html
  coverage/lcov-report/utils/erros/missing-param-error.js.html
  coverage/lcov.info
  domain/usecases/auth-usecase.js
  domain/usecases/auth-usecase.spec.js
Due: standard --fix, prettier --write

feat: update AuthUseCase to generate access token upon successful authentication
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/domain/usecases/auth-usecase.js.html
  coverage/lcov-report/domain/usecases/index.html
  coverage/lcov-report/index.html
  coverage/lcov-report/src/presentation/errors/index.html
  coverage/lcov-report/src/presentation/errors/index.js.html
  coverage/lcov-report/src/presentation/errors/server-error.js.html
  coverage/lcov-report/src/presentation/errors/unauthorized-error.js.html
  coverage/lcov-report/src/presentation/helpers/http-responses.js.html
  coverage/lcov-report/src/presentation/helpers/index.html
  coverage/lcov-report/src/presentation/routers/index.html
  coverage/lcov-report/src/presentation/routers/login-router.js.html
  coverage/lcov-report/utils/erros/index.html
  coverage/lcov-report/utils/erros/index.js.html
  coverage/lcov-report/utils/erros/invalid-param-error.js.html
  coverage/lcov-report/utils/erros/missing-param-error.js.html
  coverage/lcov.info
  domain/usecases/auth-usecase.js
  domain/usecases/auth-usecase.spec.js
Due: standard --fix, prettier --write

Path conditions:
  standard --fix: (any of: *.ts) or (any of: *.js)
  prettier --write: (any of: *.ts) or (any of: *.json)
